aniso8601==9.0.1
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Login==0.5.0
Flask-RESTful==0.3.9
flask-sock==0.5.2
Flask-WTF==1.0.0
greenlet==1.1.2
h11==0.13.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
mutagen==1.45.1
pytz==2022.1
simple-websocket==0.5.1
six==1.16.0
SQLAlchemy==1.4.32
SQLAlchemy-serializer==1.4.1
Turbo-Flask==0.8.0
Werkzeug==2.0.3
wsproto==1.1.0
WTForms==3.0.1
