{% extends "base.html" %}


{% block title %}
    Feel A Bit
{% endblock %}


{% block content %}
    <h2 align="center" style="margin-top: 40px; margin-bottom: 40px" class="mainanim">Твори, делись и обсуждай!</h2>

    {% if current_user.is_authenticated %}
        <div style="text-align:center" class="mainanim">
            <a href="/publish" class="btn btn-info"><font size="5" face="Trebuchet MS">Добавить песню</font></a>
        </div>
    {% else %}
        <div style="text-align:center" class="mainanim">
            <font size="5" face="Trebuchet MS">Авторизуйтесь, чтобы публиковать свою музыку!</font>
        </div>
    {% endif %}

    <div class="input-group mainanim" style="margin-top: 50px">
        <div class="form-outline" style="margin-right: 10px;margin-left: auto">
            <input type="search" size="70" id="search_field"
                   class="form-control" placeholder="Введите запрос..." value="{{ search_value }}"/>
        </div>
        <button class="btn btn-primary" style="margin-right: auto" onclick="search()">Искать</button>
    </div>

    {% for audio in audios %}
        <div class="border rounded border-warning testanim"
             style="margin-top: 40px; margin-left: 250px; margin-right: 250px; margin-bottom: 50px">
            <a href="/user/{{ audio[0] }}" style="margin-top: 15px;margin-left: 15px;display: inline-block">
                <img src="{{ audio[11] }}" width="48px" height="48px"
                     class="border rounded-circle border-danger"/> {{ audio[5] }}
            </a>
            <h4 style="padding-top: 20px;padding-bottom: 10px;padding-left: 20px">{{ audio[3] }}</h4>
            <audio class="audio-main" src="/{{ audio[2] }}" controls onplay="stopAll({{ audio[6] }})" loop></audio>
            <p style="padding-left: 20px">Автор(ы): {{ audio[1] }}</p>
            <table style="margin-top: 20px; margin-bottom: 20px" width="1060px">
                <tr>
                {% set stl = "width:70px;margin-left:20px;padding-bottom:10px;
                                padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in audio[9] %}
                    {% set stl = stl + "background-color: silver" %}
                {% endif %}
                <td align="left">
                    <span class="border rounded-pill"
                      style="{{ stl }}">
                    <a href="/like/{{ audio[6] }} main">
                        <img src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ audio[7] }}
                    </span>
                {% set stl1 = "width:70px;margin-left:20px;padding-bottom:10px;
                                    padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in audio[10] %}
                    {% set stl1 = stl + "background-color: silver" %}
                {% endif %}
                    <span class="border rounded-pill"
                      style="{{ stl1 }}">
                    <a href="/dislike/{{ audio[6] }} main">
                        <img class='rotateimg180 mirrorY' src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ audio[8] }}
                    </span>
                <span>
                    <a href="/comments/{{ audio[6] }}" style="text-decoration: none;margin-left: 20px">Комментарии: {{ audio[12] }}</a>
                </span>
                </td>
                {% if current_user.id == audio[0] or current_user.role == '0' or current_user.role == '1' %}
                    <td id="predelete_op_{{ audio[6] }}" align="right">
                        <button style="border: 0px;background-color: white" onclick="predelete({{ audio[6] }})">
                            <font color="crimson">Удалить композицию</font>
                        </button>
                    </td>
                {% endif %}
                </tr>
            </table>
        </div>
    {% endfor %}

    <script>
        function search() {
            var x = document.getElementById("search_field").value;
            window.location.replace(`/main/${x}`);
        }

        function predelete(audio_id) {
            var old_element = document.getElementById(`predelete_op_${audio_id}`);
            var new_element = document.createElement('td');
            new_element.align = 'right'
            new_element.id = `delete_op_${audio_id}`;
            new_element.innerHTML = `<font color='crimson' style='margin-right: 30px'>Вы уверены?</font> <button style='border: 0px;background-color: white' onclick='delete_audio(${audio_id})'><font color='crimson'>Удалить</font></button> <button style='border: 0px;background-color: white' onclick='cancel(${audio_id})'><font color='crimson'>Отмена</font></button>`;

            old_element.replaceWith(new_element);
        }

        function delete_audio(audio_id) {
            window.location.replace(`/delete_audio/${audio_id} main`);
        }

        function cancel(audio_id) {
            var old_element = document.getElementById(`delete_op_${audio_id}`);
            var new_element = document.createElement('td');
            new_element.id = `predelete_op_${audio_id}`;
            new_element.align = 'right'
            new_element.innerHTML = `<button style='border: 0px;background-color: white' onclick='predelete(${audio_id})'><font color='crimson'>Удалить композицию</font></button>`;

            old_element.replaceWith(new_element);
        }

        var a = document.getElementsByTagName("audio");

        function stopAll(b){
            b = a.length - b;
            for(i=0;i<a.length;i++){
                if(!(i==b)){a[i].pause(); a[i].currentTime=0} else {a[i].play()};
            }
        }
    </script>
{% endblock %}