{% extends "base.html" %}


{% block title %}
    Feel A Bit
{% endblock %}


{% block content %}
    <table style="margin-top: 50px;margin-left: 250px; margin-bottom: 40px" class="anim">
        <tr>
            <td>
                <img src="{{ user_info[4] }}" class="border rounded-circle border-danger" width="256px" height="256px"/>
            </td>
            <td style="padding-left: 30px">
                <h3>{{ user_info[0] }} {{ user_info[1] }}</h3>
                <font size="5">Роль: {{ user_info[2] }}</font><br>
                <font size="5">Возраст: {{ user_info[3] }}</font><br>
                {% if current_user.id == user_info[5] %}
                    <a href="/user/{{ user_info[5] }}/edit"><font size="5">Редактировать</font></a>
                {% endif %}
            </td>
        </tr>
    </table><br>
    {% if user_info[6] != 0 %}
        {% if current_user.id == user_info[5] %}
            <h3 style="margin-left:250px" class="anim">Ваши выложенные песни:</h3>
        {% else %}
            <h3 style="margin-left:250px" class="anim">Песни, выложенные пользователем:</h3>
        {% endif %}
    {% else %}
        {% if current_user.id == user_info[5] %}
            <h3 style="margin-left:250px" class="anim">Вы не выложили ни одной песни</h3>
        {% else %}
            <h3 style="margin-left:250px" class="anim">Пользователь не выложил ни одной песни</h3>
        {% endif %}
    {% endif %}
    {% for i in range(user_info[6]) %}
        {% set stl = "margin-left: 250px; margin-right: 250px; margin-bottom: 50px;" %}
        {% if i == 0 %}
            {% set stl = stl + "margin-top: 20px" %}
        {% else %}
            {% set stl = stl + "margin-top: 40px" %}
        {% endif %}
        <div class="border rounded border-warning testanim"
             style="{{ stl }}">
            <h4 style="padding-top: 20px;padding-bottom: 10px;padding-left: 20px">{{ user_audios[i][2] }}</h4>
            <audio class="audio-main" src="/{{ user_audios[i][1] }}" controls onplay="stopAll({{ user_audios[i][10] }})" loop></audio>
            <p style="padding-left: 20px">Автор(ы): {{ user_audios[i][0] }}</p>
            <table style="margin-top: 20px; margin-bottom: 20px" width="1060px">
                <tr>
                {% set stl = "width:70px;margin-left:20px;padding-bottom:10px;
                                padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in user_audios[i][7] %}
                    {% set stl = stl + "background-color: silver" %}
                {% endif %}
                    <td align="left">
                <span class="border rounded-pill"
                      style="{{ stl }}">
                    <a href="/like/{{ user_audios[i][4] }} user {{ user_info[5] }}">
                        <img src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ user_audios[i][5] }}
                </span>
                {% set stl1 = "width:70px;margin-left:20px;padding-bottom:10px;
                                    padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in user_audios[i][8] %}
                    {% set stl1 = stl + "background-color: silver" %}
                {% endif %}
                <span class="border rounded-pill"
                      style="{{ stl1 }}">
                    <a href="/dislike/{{ user_audios[i][4] }} user {{ user_info[5] }}">
                        <img class='rotateimg180 mirrorY' src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ user_audios[i][6] }}
                </span>
                        <span>
                    <a href="/comments/{{ user_audios[i][4] }}" style="text-decoration: none;margin-left: 20px">Комментарии: {{ user_audios[i][9] }}</a>
                </span>
                    </td>
                {% if current_user.id == user_info[5] or current_user.role == '0' or current_user.role == '1' %}
                    <td align="right" id="predelete_op_{{ user_audios[i][4] }}">
                        <button style="border: 0px;background-color: white" onclick="predelete({{ user_audios[i][4] }},{{ user_info[5] }})">
                            <font color="crimson">Удалить композицию</font>
                        </button>
                    </td>
                {% endif %}
                </tr>
            </table>
        </div>
    {% endfor %}

    <script>
        function predelete(audio_id, user_id) {
            var old_element = document.getElementById(`predelete_op_${audio_id}`)
            var new_element = document.createElement('span');
            new_element.id = `delete_op_${audio_id}`;
            new_element.style.cssText = 'margin-left: 600px';
            new_element.innerHTML = `<font color='crimson' style='margin-right: 30px'>Вы уверены?</font> <button style='border: 0px;background-color: white' onclick='delete_audio(${audio_id},${user_id})'><font color='crimson'>Удалить</font></button> <button style='border: 0px;background-color: white' onclick='cancel(${audio_id},${user_id})'><font color='crimson'>Отмена</font></button>`;

            old_element.replaceWith(new_element);
        }

        function delete_audio(audio_id, user_id) {
            window.location.replace(`/delete_audio/${audio_id} user ${user_id}`);
        }

        function cancel(audio_id, user_id) {
            var old_element = document.getElementById(`delete_op_${audio_id}`);
            var new_element = document.createElement('span');
            new_element.id = `predelete_op_${audio_id}`;
            new_element.style.cssText = 'margin-left: 710px';
            new_element.innerHTML = `<button style='border: 0px;background-color: white' onclick='predelete(${audio_id},${user_id})'><font color='crimson'>Удалить композицию</font></button>`;

            old_element.replaceWith(new_element);
        }

        var a = document.getElementsByTagName("audio");

        function stopAll(b){
            for(i=0;i<a.length;i++){
                if(!(i==b)){a[i].pause(); a[i].currentTime=0} else {a[i].play()};
            }
        }
    </script>
{% endblock %}
